@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400&family=Rubik+Glitch&display=swap');
body {
    background-color: #090909; 
}

.wave {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/*-----------------------------------------
              NAV,HEADER
-----------------------------------------*/
.header {
    transition: all 0.5s;
    padding: 20px;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: rgba(255, 255, 255, .4);
}

.nav-link:after{   
  display: block; 
  content: "";
  color: #fff;
  width: 0;
  height: 2px;
  left: 0;
  background-color: #ffb800;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:after,
.nav-link:focus:after {
  width: 60%;
}

.nav-link:hover {
  color: #fff;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.navbar-toggler{
  padding: var(--#{$prefix}navbar-toggler-padding-y) var(--#{$prefix}navbar-toggler-padding-x)
}

.navbar-toggler-icon {
  color: rgba(255, 255, 255, .4);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/*--------------------------------------------------------------
                          Hero
--------------------------------------------------------------*/
@media (max-width: 576px) {
  .floating-button {
    text-align: center;
    width: 100%;
  }

  .btn-floating-botton {
    display:  inline-block;
    vertical-align: middle;
  }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

a {
  text-decoration: none!important;

}

i {
  padding-bottom: 20px;
  padding-right: 10px;
}

.hero {
  height: 100vh;
  background-image: url("/assets/images/Example1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  background: rgba(198, 198, 198, .2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #ffb800;
  box-shadow: 0 15px 20px rgba(255, 184, 0, .4);
  color: black;
  }

.icons-hero {
  color: #ffb800
}

.social-links {
  padding-top: 20px;
}
/*-------------------------------------------------------
                    Navigation Menu
--------------------------------------------------------------*/
