@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/*--------- General ---------*/

body {
  background-color: #e6e6fa;
}

h1 {
  font-family: 'Italiana', serif;
  font-size: 145px;
  color: #131313;
}

ul {
  padding: 0;
}

.titles {
  float: right;
}
/*--------- NavBar ---------*/

.navbar {
  box-shadow: none!important;
}

.nav-link {
  color: #131313;
  font-size: 50px;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-link:hover {
  color: #6667AB;
}

.logo {
  font-family: 'Italiana', serif;
  color: #131313;
  font-size: 50px;
  text-decoration: none;
}

.logo:hover {
  color: #131313;
}
/*--------- Hero ---------*/

.hero {
  height: 100vh;
}

/*h1*/
.web-d {
  align-items: center;
}

.content-list {
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 60px, #131313 60px, transparent 61px);
  background-image: -moz-repeating-linear-gradient(top, transparent 0px, transparent 50px, #131313 50px, transparent 51px);
  background-image: -ms-repeating-linear-gradient(top, transparent 0px, transparent 50px, #131313 50px, transparent 51px);
  background-image: -o-repeating-linear-gradient(top, transparent 0px, transparent 50px, #131313 50px, transparent 51px);
  background-image: repeating-linear-gradient(top, transparent 0px, transparent 50px, #131313 50px, transparent 51px);
  list-style-type: none;
  text-decoration: none!important;
  font-family: 'Italiana', serif;
  font-size: 50px;
  font-weight: 400;
  color: #131313;
  
}

.content-link {
  text-decoration: none!important;
  font-family: 'Italiana', serif;
  font-size: 50px;
  font-weight: 400;
  color: #131313;
  transition: all 0.5s ease-out;
}
.content-link:hover {
  color: #6667AB;
  
}

.numb {
  float: right;
}

.content span {
  order: 999;
  margin-left: auto;
}

.btn-btn {
  position: relative
}

.btn {
  position: absolute;
  right: 0;
  bottom: 15%;
}

#hero .btn {
  font-family: 'Space Grotesk', sans-serif ;
  font-size: 48px;
  font-weight: 400;
  color: #6667AB;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  border: 2px solid #6667AB;
  box-shadow: none!important;
}

#hero .btn:hover {
    background: #6667AB;
    color: #fff;
}


.btn-text {
  font-family:  'Italiana', serif;
  color: #131313;
  font-size: 60px;
}

/*--------- Main ---------*/

